#workoutTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;

}

#workoutTable td, #workoutTable th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#workoutTable tr:nth-child(even){background-color: #blue}

#workoutTable tr:hover {background-color: #ddd;}

#workoutTable th {
    background-color: blue;
    color: white;
    padding: 15px;
    text-align: center;
}

